body {
  color: #212121;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 50px; /* navbar height */
}

h1 {
  color: #ff6e69;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

footer {
  background-color: #212121;
  color: #fff;
  margin-top: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

/* Custom Sections */

#hero {
  background: #ff6e69;
  color: #fff;
  padding: 2.5rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

#meetingInfo {
  line-height: 50%;
  margin-bottom: 1.25rem;
}

/* Custom Class */

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.icon {
  color: #fff;
}

.icon:hover {
  color: #fff;
}

/* Bootstrap Components Customization */

.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: none;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-primary {
  background-color: #5CBC8B;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #3AA06C;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-item {
  font-weight: bold;
  padding: 0px 10px;
}

.navbar-nav {
  margin-right: 10px;
}
