body {
  padding-top: 50px; /* navbar height */
}

h1 {
  margin-bottom: 25px;
  text-align: center;
}

footer {
  background-color: #212121;
  color: #fff;
  margin-top: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

/* Custom Sections */

#hero {
  background: #e9ecef;
  padding: 2.5rem;
}

#meetingInfo {
  line-height: 50%;
  margin-bottom: 1.25rem;
}

/* Custom Class */

.icon {
  color: #fff;
}

.icon:hover {
  color: #fff;
}

/* Bootstrap Components Customization */

.nav-item {
  padding: 0px 10px;
}

.navbar-nav {
  margin-right: 10px;
}
