<footer class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <p>Check out our social media and projects below!</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="mailto:wics.dvc@gmail.com" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </a>
      <a href="https://orgsync.com/163868/chapter" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x"></i>
      </a>
      <a href="https://tinyurl.com/joinwicsdvc" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-slack fa-stack-1x"></i>
      </a>
      <a href="https://www.instagram.com/wics.dvc/" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </a>
      <a href="https://github.com/wics-dvc" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </a>
      <a href="https://id.linkedin.com/company/women-in-computer-science-at-dvc?trk=public_profile_volunteering_position_result-card_full-click" class="icon fa-stack fa-2x">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </a>
    </div>
  </div>
</footer>
