<footer class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <a href="mailto:wics.dvc@gmail.com" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </a>
      <a href="https://orgsync.com/163868/chapter" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x"></i>
      </a>
      <a href="https://www.instagram.com/wics.dvc/" class="icon fa-stack fa-2x">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </a>
    </div>
  </div>
</footer>
