<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand title" href="http://wicsdvc.com/">WiCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Content -->
  <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://wicsdvc.com/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mentorship">Mentorship</a>
      </li>
    </ul>
    <a class="btn btn-primary" href="http://join.wicsdvc.com/" role="button">Join</a>
  </div>
</nav>
